/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

#top-load {position: absolute; min-width:400px; width:90%; height:70px; left:50%; top:30%; margin-left:-300px; overflow: visible; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default;}

#top-load div {position: absolute; width:60px; height:70px; opacity:0; animation: move 13s linear infinite; -o-animation: move 13s linear infinite; -moz-animation: move 13s linear infinite; -webkit-animation: move 13s linear infinite; transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);}

#top-load div img {width:60px;}

#top-load div:nth-child(2) {animation-delay: 0.5s; -o-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -webkit-animation-delay: 0.5s;}
#top-load div:nth-child(3) {animation-delay: 1s; -o-animation-delay: 1s; -webkit-animation-delay: 1s; -webkit-animation-delay: 1s;}
#top-load div:nth-child(4) {animation-delay: 1.5s; -o-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -webkit-animation-delay: 1.5s;}
#top-load div:nth-child(5) {animation-delay: 2s; -o-animation-delay: 2s; -moz-animation-delay: 2s; -webkit-animation-delay: 2s;}
#top-load div:nth-child(6) {animation-delay: 2.5s; -o-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -webkit-animation-delay: 2.5s;}
#top-load div:nth-child(7) {animation-delay: 3s; -o-animation-delay: 3s; -moz-animation-delay: 3s; -webkit-animation-delay: 3s;}
#top-load div:nth-child(8) {animation-delay: 3.5s; -o-animation-delay: 3.5s; -moz-animation-delay: 3.5s; -webkit-animation-delay: 3.5s;}
#top-load div:nth-child(9) {animation-delay: 4s; -o-animation-delay: 4s; -moz-animation-delay: 4s; -webkit-animation-delay: 4s;}
#top-load div:nth-child(10) {animation-delay: 4.5s; -o-animation-delay: 4.5s; -moz-animation-delay: 4.5s; -webkit-animation-delay: 4.5s;}
#top-load div:nth-child(11) {animation-delay: 5s; -o-animation-delay: 5s; -moz-animation-delay: 5s; -webkit-animation-delay: 5s;}
#top-load div:nth-child(12) {animation-delay: 5.5s; -o-animation-delay: 5.5s; -moz-animation-delay: 5.5s; -webkit-animation-delay: 5.5s;}
#top-load div:nth-child(13) {animation-delay: 6s; -o-animation-delay: 6s; -moz-animation-delay: 6s; -webkit-animation-delay: 6s;}
#top-load div:nth-child(14) {animation-delay: 6.5s; -o-animation-delay: 6.5s; -moz-animation-delay: 6.5s; -webkit-animation-delay: 6.5s;}
#top-load div:nth-child(15) {animation-delay: 7s; -o-animation-delay: 7s; -moz-animation-delay: 7s; -webkit-animation-delay: 7s;}
#top-load div:nth-child(16) {animation-delay: 7.5s; -o-animation-delay: 7.5s; -moz-animation-delay: 7.5s; -webkit-animation-delay: 7.5s;}
#top-load div:nth-child(17) {animation-delay: 8s; -o-animation-delay: 8s; -moz-animation-delay: 8s; -webkit-animation-delay: 8s;}
#top-load div:nth-child(18) {animation-delay: 8.5s; -o-animation-delay: 8.5s; -moz-animation-delay: 8.5s; -webkit-animation-delay: 8.5s;}
#top-load div:nth-child(19) {animation-delay: 9s; -o-animation-delay: 9s; -moz-animation-delay: 9s; -webkit-animation-delay: 9s;}
#top-load div:nth-child(20) {animation-delay: 9.5s; -o-animation-delay: 9.5s; -moz-animation-delay: 9.5s; -webkit-animation-delay: 9.5s;}
#top-load div:nth-child(21) {animation-delay: 10s; -o-animation-delay: 10s; -moz-animation-delay: 10s; -webkit-animation-delay: 10s;}
#top-load div:nth-child(22) {animation-delay: 10.5s; -o-animation-delay: 10.5s; -moz-animation-delay: 10.5s; -webkit-animation-delay: 10.5s;}
#top-load div:nth-child(23) {animation-delay: 11s; -o-animation-delay: 11s; -moz-animation-delay: 11s; -webkit-animation-delay: 11s;}
#top-load div:nth-child(24) {animation-delay: 11.5s; -o-animation-delay: 11.5s; -moz-animation-delay: 11.5s; -webkit-animation-delay: 11.5s;}
#top-load div:nth-child(25) {animation-delay: 12s; -o-animation-delay: 12s; -moz-animation-delay: 12s; -webkit-animation-delay: 12s;}
#top-load div:nth-child(27) {animation-delay: 12.5s; -o-animation-delay: 12.5s; -moz-animation-delay: 12.5s; -webkit-animation-delay: 12.5s;}
#top-load div:nth-child(28) {animation-delay: 13s; -o-animation-delay: 13s; -moz-animation-delay: 13s; -webkit-animation-delay: 13s;}

@keyframes move {
  0% {left: 0; opacity: 0;}
  4% {left: 51%; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  9% {left: 69%; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  15% {left: 100%; -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg); opacity: 0;}
}

@-moz-keyframes move {
  0% {left: 0; opacity: 0;}
  4% {left: 51%; -moz-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  9% {left: 69%; -moz-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  15% {left: 100%; -moz-transform: rotate(-180deg); transform: rotate(-180deg); opacity: 0;}
}

@-webkit-keyframes move {
  0% {left: 0; opacity: 0;}
  4% {left: 51%; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  9% {left: 69%; -webkit-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  15% {left: 100%; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); opacity: 0;}
}

@-o-keyframes move {
  0% {left: 0; opacity: 0;}
  4% {left: 51%; -o-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  9% {left: 69%; -o-transform: rotate(0deg); transform: rotate(0deg); opacity: 1;}
  15% {left: 100%; -o-transform: rotate(-180deg); transform: rotate(-180deg); opacity: 0;}
}

/*logo*/
.logo-loader-wrapper {z-index:100;}
.logo-loader {height:100px; width:100px; border-radius:50%; position: relative;}
.logo-loader::before {content: ""; height:100%; width:100%; background-color: rgb(21, 139, 126); border-radius: 50%; position: absolute; animation: doitreverse 4s infinite ease-in-out; animation-delay: 2s;}
.logo-loader::after {content: ""; height:100%; width:100%; background-color: rgb(21, 139, 126); border-radius: 50%; position: absolute; animation: doit 4s infinite ease-in-out; animation-delay: 2s;}

@keyframes doit {
  0% {transform: scale(1);}
  50% {border-radius: 36% 36%; transform: scale(1);}
  100% {transform: scale(1);}
}

.eye {z-index:100; height:70%; width:70%; background:url('../../assets/img/logo-aqr2.png'); background-repeat:no-repeat; background-size:contain; background-position:center; position:absolute; left:15%; top:15%; animation: showme 4s infinite ease-in-out; animation-delay: 2s}

@keyframes showme {
  0% {transform: scale(1);}
  50% {transform: scale(1);}
  100% {transform: scale(1);}
}


/*qr loader */ 
.qr-loader {width:100%; height:100%; display: block; position: relative;}
.qr-loader::after {content: ''; width: calc(100% - 30px); height: calc(100%); top:0; left:12px; position: absolute; background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%); background-repeat: no-repeat; background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px; background-position: -185px 0, center 10px, center 125px, center 155px; box-sizing: border-box; animation: animloader 1s linear infinite;}

@keyframes animloader {
  to {background-position: 185px 0, center 10px, center 125px, center 155px;}
}
  



/* packman 1
.packman-loader-wrapper {position:relative; top:0; left;0; bottom:0; right:0; margin: auto;}
.packman-loader-wrapper .packman::before {z-index:2; content: ''; background:url('assets/img/logo-aqr2.png') no-repeat center; background-size: cover; position:absolute; width:70px; height:35px; background-color:#158b7e; border-radius: 100px 100px 0 0; transform: translate(-50%, -50%); animation: pac-top 0.5s linear infinite; transform-origin: center bottom;}

.packman-loader-wrapper .packman::after {z-index:2; content: ''; position:absolute; width:70px; height:35px; background-color:#158b7e; border-radius: 0 0 100px 100px; transform: translate(-50%, 50%); animation: pac-bot 0.5s linear infinite; transform-origin: center top;}

@keyframes pac-top {
  0% {transform: translate(-50%, -50%) rotate(0)}
  50% {transform: translate(-50%, -50%) rotate(-30deg)}
  100% {transform: translate(-50%, -50%) rotate(0)}
}

@keyframes pac-bot {
  0% {transform: translate(-50%, 50%) rotate(0)}
  50% {transform: translate(-50%, 50%) rotate(30deg)}
  100% {transform: translate(-50%, 50%) rotate(0)}
}

.dots .dot {position: absolute; z-index:-1; top:0;}
.dots .dot img {width:30px; height:auto;}
.dots .dot:nth-child(1) {z-index:1; left: 90px; animation: dot-stage1 0.5s infinite;}
.dots .dot:nth-child(2) {z-index:1; left: 60px; animation: dot-stage1 0.5s infinite;}
.dots .dot:nth-child(3) {z-index:1; left: 30px; animation: dot-stage1 0.5s infinite;}
.dots .dot:nth-child(4) {z-index:1; left: 10px; animation: dot-stage2 0.5s infinite;}

@keyframes dot-stage1 {
  0% {transform: translate(0, 0);}
  100% {transform: translate(-24px, 0);}
}

@keyframes dot-stage2 {
  0% {transform: scale(1);}
  5%, 100% {transform: scale(0);}
}
*/

/* packman 2
.circle-wrapper {margin:0; padding-bottom:10px;}
.circle {position: relative; left: -100px; width: 0; height: 0; border:50px solid #158b7e; border-radius:50%; border-right-color: transparent; animation: move 5s linear 0s infinite normal forwards;}
.circle:before {content: ""; position: absolute; top:-50px; left: -50px; width: 0; height: 0; border: 50px solid #158b7e; border-radius:50%; border-right-color: transparent; animation: chomp1 .25s ease-in-out 0s infinite normal forwards;}

.circle:after {content: ""; position: absolute; top:-50px; left: -50px; width: 0; height: 0; border: 50px solid #158b7e; border-radius: 50%; border-right-color: transparent; animation: chomp2 .25s ease-in-out 0s infinite normal forwards;}

.dots {position:relative; top:45px; display: flex; justify-content: center; align-items: center;}
.dot {position:relative; width:40px; height:10px; margin: 0 10px; border-radius:50%; animation: dot1 5s linear 0s infinite none normal;}
.dot img {width:40px; height:auto;}

.dot:nth-child(1) {animation-delay: 2.5s}
.dot:nth-child(2) {animation-delay: 2.75s}
.dot:nth-child(3) {animation-delay: 3s}
.dot:nth-child(4) {animation-delay: 3.25s}
.dot:nth-child(5) {animation-delay: 3.5s}
.dot:nth-child(6) {animation-delay: 3.75s}
.dot:nth-child(7) {animation-delay: 4s}
.dot:nth-child(8) {animation-delay: 4.25s}

.dots2 {position: relative; top:45px; display: flex; justify-content: center; align-items: center;}
.dot2 {position: relative; width:40px; height: 10px; margin: 0 10px; border-radius: 50%; opacity: 0; animation: dot2 5s linear 0s infinite none normal;}
.dot2 img {width:40px; height:auto;}

.dot2:nth-child(8) {animation-delay: 2.5s}
.dot2:nth-child(7) {animation-delay: 2.75s}
.dot2:nth-child(6) {animation-delay: 3s}
.dot2:nth-child(5) {animation-delay: 3.25s}
.dot2:nth-child(4) {animation-delay: 3.5s}
.dot2:nth-child(3) {animation-delay: 3.75s}
.dot2:nth-child(2) {animation-delay: 4s}
.dot2:nth-child(1) {animation-delay: 4.25s}

@keyframes chomp1 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(45deg);}
  100% {transform: rotate(0deg);}
}

@keyframes chomp2 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

@keyframes move {
  0%, 50% {right: -100px;}
  0%, 50% {transform: rotateY(0deg); opacity:0;}
  51%, 100% {transform: rotateY(180deg); opacity: 1;}
  50% {left:100%;}
}

@keyframes dot1 {
  0%,4% {opacity: 1;}
  5%,94% {opacity: 0;}
  95%,100% {opacity: 1;}
}

@keyframes dot2 {
  0%,10% {opacity: 1;}
  11%,94% {opacity: 0;}
  95%,100% {opacity: 1;}
}
*/